
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.one {
    display:flex;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.one {   margin-top: 0;
    font-size: 36px;
    color: #333;
}

.one h3 {
    font-size: 18px;
    color: #555;
}

.one li {
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

.one img {
    margin-top: 20px;
}

.two {
    display:flex;
    background-color: #FFF;
    padding: 20px;
    text-align: left;
}

.two h3 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.two p {
    font-size: 16px;
    color: #666;
}


.three {
    display:flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.three h3 {
    font-size: 24px;
    color: #333;
}

.three div {
    margin-top: 30px;
}

.three img {
    margin-bottom: 10px;
}

.three h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
}

.three p {
    font-size: 14px;
    color: #666;
}
.five{
    background-color: #c1c1c1;
    padding: 10px;
    text-align: center;
}


.four {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.four h6 {
    margin: 0;
    font-size: 12px;
    color: #FFF;
}